@use "./variables";
@use "./mixins";

body {
  font-family: "Inter", sans-serif;
  color: variables.$color-black;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  position: relative;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.dark {
  background-color: variables.$color-white;
}
