// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-red: #f44336;
$color-violet: #6534ff;
$color-black-text: #050510;
$color-silcer-bag: #f7f7f8;
$color-placeholder: #c3c3c6;
$color-gray-text: #97979b;
$color-dark-gray: #55555c;

$color-bg-modal: rgba(5, 5, 16, 0.16);

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;
