// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-red: #ff4d4f;
$color-violet: #6534ff;
$color-black-text: #050510;
$color-silcer-bag: #f7f7f8;
$color-placeholder: #c3c3c6;
$color-gray-text: #97979b;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;
