.container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  border: none;
  width: 100%;
  border-radius: 16px;
  height: 40px;
  padding: 0 44px;
  outline: unset;
  background-color: $color-silcer-bag;
  &:hover {
    cursor: text;
  }

  &:hover .buttonSearch__icon {
    color: black;
  }

  &::placeholder {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: $color-placeholder;
  }

  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: $color-black-text;
}

.buttonSearch,
.buttonSort {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &__icon {
    color: $color-placeholder;
    transition: color 0.2s ease-in;

    &_black {
      color: $color-black-text;
    }
    &_violet {
      color: $color-violet;
    }
  }

  &:hover > svg {
    color: $color-black-text;
  }
}

.buttonSearch {
  left: 12px;
}

.buttonSort {
  right: 12px;
}
