.toggle {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 2;
  display: block;
  background-color: unset;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease-in;
  & > svg {
    color: $color-black-text;
  }

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(1);
  }
}
